{% extends 'base.html' %}

{% block titulo %}      
Cambiar Contraseña

{% endblock %}


{% block contenido %}          




{% if form %}
    <h2 style="text-align:center;margin-bottom: 40px;"> Cambiar Contraseña </h2>
    <form style="text-align:center" action="" method="POST" enctype="multipart/form-data">   <!--  Aca si viene por post hace-->
        {% csrf_token %}               <!-- token va siempre-->
        <table style="margin-left:auto;margin-right:auto;margin-bottom: 30px;"> 
            {{form.as_table}}   
        </table>    <!-- hace que lo muestre como tabla-->
        <input style="text-align:center" type="submit", value="Cambiar Contraseña">   <!-- el boton para enviar -->
    </form>    
{% endif %}

{% if errors %}
<h5 style="text-align:center">{{errors}} </h5>
{% endif %}


{% endblock %}