{% extends 'base.html' %}

{% block titulo %}
Actualizar Usuario
{% endblock %}

{% block contenido %}

{% if user.is_authenticated %}
    {% if form %}
        <h2 style="margin-left:30rem">Complete los campos a actualizar</h2>
        <form action="" method="POST" style="margin-left:40rem;margin-top:7rem">
            {% csrf_token %}
            <table>
                {{form.as_table}}
            </table>
            <input type="submit" , value="Enviar">
        </form>
    {% endif %}
{% else %} 
    <h2 class="display-4">NO TIENE PERMISOS PARA ESTAR EN ESTA PAGINA </h2>    
    
{% endif %} 
    
{% endblock %}