{% extends 'base.html' %}

{% block titulo %}      
About US

{% endblock %}


{% block contenido %}  


<h2 class="display-4" style="text-align:center;margin-top: 40px;">Creador:  Julian Garcia </h2>

<h3 class="display-4" style="text-align:center;margin-top: 40px;">Compañeros: Google.com </h3>

<h3 class="display-4" style="text-align:center;margin-top: 40px;">Agradecimiento espacial a stackoverflow </h3>


<h3 class="display-4" style="text-align:center;margin-top: 40px;"> <a href="https://youtu.be/u-Ak2kpUHRA">Video explicacion del proyecto</a> </h3>


{% endblock %}
