{% extends 'base.html' %}

{% block titulo %}      
Contacto

{% endblock %}


{% block contenido %}          

{% if form %}
    <h1 style="text-align:center;margin-bottom: 40px;"> Contacto </h1>
    <form style="text-align:center" action="" method="POST" enctype="multipart/form-data">   <!--  Aca si viene por post hace-->
        {% csrf_token %}               <!-- token va siempre-->
        <table style="margin-left:auto;margin-right:auto;margin-bottom: 30px;"> 
            {{form.as_table}}   
        </table>    <!-- hace que lo muestre como tabla-->
        <input style="text-align:center" type="submit", value="Login">   <!-- el boton para enviar -->
    </form>                         <!-- cierra el form-->
    {% elif new_contact %}                                            <!-- aca un elif si existe el new_product que hicimos en la view-->
    <h1>fue creado :</h1>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h2 class="card-title">Nombre : {{new_contact.nombre}}</h2>
            <h2 class="card-text">Apellido :{{new_contact.apellido}}</h2>
            <h2 class="card-text">Email: {{new_contact.email}}</h2>
        </div>
    </div>   



{% endif %}







{% endblock %}