{% extends 'base_productos.html' %} <!-- ACA llamo al base.html-->


{% block titulo %}      
Detalles Productos

{% endblock %}


{% block contenido %}  

{{error}}

<div class="d-flex" style="margin-top:5rem ; margin-left: 7rem">
    <div class="card" style="width: 18rem;">
        {% if object.imagen %}             <!-- object va por defecto por la nueva view de listview -->
        <img src={{object.imagen.url}} class="card-img-top" alt="...">
        {% endif %}
        <div class="card-body">
        <h5 class="card-title">{{object.name}}</h5>
        <p class="card-text">Precio: ${{object.price}}</p>
        <p class="card-text">Descripcion: {{object.description}}</p>
        <p class="card-text">SKU: {{object.SKU}}</p>
        <p class="card-text">Disponibilidad: {{object.available}}</p>
        <a href="/productos/update_product/{{object.id}}/" class="btn btn-primary">Editar</a>
        <a href="/productos/delete_product/{{object.id}}/" class="btn btn-danger">Eliminar</a> <!-- Aca lo mando al url del detalle  -->
        </div>
    </div>

</div>
{% endblock %}
